@model Elcom.Models.Param
<div class="row">
    <div class="col">
                <input type="@Model.GetType()" class="btn btn-outline-primary btn-sm btn-block workingButton" data-toggle="tooltip" title="@Model.Description" placeholder="@Model.Description" name="@Model.Id" required>
    </div>
</div>