<div class="row">
    <div class="col">
        <button type="button" class="btn btn-outline-primary btn-sm btn-block workingButton" onclick='$("#TargetTable").load("/Sheets/ShowPartialForm?viewName=_UpdateDeliveryDates");'>Выгрузить рабочее поле</button>
    </div>
</div>